*,::after,::before{-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;tap-highlight-color:transparent}
body,dd,div,dl,dt,h1,h2,h3,h4,h5,h6,li,p,ul{margin:0;padding:0}
html{background:#fff;font:16px/1.5 'microsoft yahei'}
input,textarea{font-size:12px;font-family:"微软雅黑"}
li{list-style:none}
img{border:none;margin:0;padding:0}
a{color:#000;text-decoration:none}
body{background:#fff;color:#999}
i,em{font-style: normal;}
.left{float:left}
.right{float:right}
.clear{height:0;clear:both}
.margin_right{margin-right:2%}
.height{height:5px;clear:both}
.line{border-bottom:1px solid #efefef;padding-bottom:5px;padding-top:5px;color:#999}
.gray{color:gray}
.blue{color:#007BB1;font-size:18px}
.login_topbtn{padding:5px 5px;margin-left:10px;border-radius:3px}
.c_index_top{background-color:#0094DB;}
.c_index_login{background-color:#86e632}
.c_button{background-color:#0094DB;border:1px solid #006B9F}
.c_login_button{background-color:#76c332; }
.cl0{ clear:both;height:0; line-height:0; overflow:hidden}

/*header*/
.header{background:#76c332;display:block;position:relative;font-size:16px;height:50px;line-height:50px}
.header h1{font-size:16px;font-weight:400;height:50px;margin:0 70px 0 70px;text-align:center;color:#fff;display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.header .back{position:absolute;padding:0 10px;height:28px;margin:10px 10px;line-height:28px;font-size:14px;background-color:#86e632;border-radius:3px;width:30px}
.header .back_r{color:#fff;position:absolute;padding:0 10px;width:30px;height:28px;margin:10px 10px;line-height:28px;text-align:center;border-radius:3px;right:0;top:0;font-size:14px;background-color:#86e632}
.header a{color:#0C0}
.back a,.back_r a{color:#fff}
.logo{float:left;margin-left:10px;font-size:20px;}
.logo a{color:#fff}
.reg{float:right;padding-right:10px;font-size:16px;color:#fff}
.reg a{color:#fff}
.box{background-color:#65bbec;padding:5px;margin-left:5px;border-radius:3px;color:#fff;height:20px;font-size:14px}

/*nav*/
.nav{float:left;width:100%;background-color:#fee8bd;height:35px;line-height:35px;overflow:hidden;margin-bottom:10px;}
.nav ul li{color:#666;display:block;width:20%;height:26px;overflow:hidden;float:left;text-align:center;}

/*search*/
.search{padding:10px 5px 0 5px}
.search .key{height:25px;width:90%;line-height:25px;border:0;color:#999;text-indent:5px;font-size:16px}
.search .go{height:30px;width:35px;border:0;background-color:transparent;z-index:9999}
.search .type{background-color:#fff;border:1px solid #CCC;width:50px;height:35px;line-height:35px;text-align:center;font-weight:700;color:#000}

/*article*/
.article{margin:10px auto 10px auto;}
.title{height:35px;background:#fee8bd;border-bottom:1px solid #ccc;color:#666;font-size:16px;padding-left:10px;line-height:35px;font-weight:400;font-weight:700}
.title a{float:right;padding-right:10px;font-size:14px;font-weight:400}
.title span a{float:left;font-size:16px;font-weight:700}
.title a.on{color:#623f01}
.title .more{float:right;margin-right:10px}
.title .more a{color:#fff}
.block{padding-left:10px;padding-bottom:10px;}
.block_img{height:auto;border:0;overflow:hidden;padding-top:10px;padding-bottom:10px;float:left}
.block_img2{float:left;height:auto;border:1px solid #DEDEDE;padding:5px 5px 0 5px;overflow:hidden;}
.block_txt{border:0;height:100px;overflow:hidden;line-height:20px;padding-left:10px;padding-top:8px}
.block_txt2{border:0;height:130px;overflow:hidden;line-height:22px}
.block_txt2 h2{font-size:16px;height:auto;padding-left:8px}
.block_txt h2,.block_txt2 h2{font-size:16px;height:auto}
.block_txt p,.block_txt2 p{height:auto;font-size:14px}
.block li{line-height:35px;border-bottom:1px solid #ECECEC}

/*info*/
.cover{width:99%;margin:10px auto 10px auto;height:auto;overflow:hidden}
.cover p{text-indent:8px}
.ablum{height:auto;overflow:auto;padding-bottom:5px}
.ablum_img img{float:left;padding:2px;border:1px solid #DEDEDE;overflow:hidden;background:url(/images/cover.jpg)}
.ablum_img2 img{float:left;height:85px;padding:2px;border:1px solid #DEDEDE;overflow:hidden;width:70px;background:url(/images/cover.jpg)}
.ablum_info{float:left;line-height:28px;padding-left:10px;font-size:15px;height:100px;overflow:hidden}
.ablum div{height:auto}
.ablum .new a{color:#007BB1;font-weight:700}
.ablum_read{height:auto;padding:5px 0 5px 0;overflow:hidden}
.ablum_read span{background:#76c332;border-radius:3px;height:40px;line-height:40px;text-align:center;width:49%;float:left}
.ablum_read span a{color:#fff;display:block}
#new{height:165px;width:130px;background:0 0}
.intro{border-bottom:1px solid #ccc;background:#fee8bd;height:35px;line-height:35px;padding-left:8px;font-weight:700;font-size:15px;color:#000;margin-top:5px}
.intro_info{padding:10px;font-size:14px;}
.chapter li{border-bottom:1px solid #efefef;text-indent:10px;height:40px;line-height:40px;color:#999;overflow:hidden;}
.chapter li a{display:block;}

/*page*/
.page{height: auto;padding-bottom: 10px;padding-top: 10px;text-align:center;}
.page a{text-align:center;padding: 4px 15px 4px 15px;margin-right:5px;border-radius: 3px;background: #76c332;color:#fff;}

/*userinfo*/
.userinfo{width:98%;margin-left:5px;margin-top:10px;color:#000;}
.userinfo h1{padding:10px 5px;font-weight:bold;font-size:18px; text-align:center;}
.userinfo ul{ display:-moz-box;display:-webkit-box;display:box;margin-top:5px;margin-bottom:5px;}
.userinfo li{text-align:center;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
.userinfo .prev{text-align:left;}
.userinfo .prev a{display:block;text-align:center;padding:4px 0px; background-color:#fff;color:#000;border:1px solid #999;}
.userinfo .uinfo{width: 99%;margin: 10px auto 10px auto;height: auto;overflow: hidden;}
.userinfo .uinfo p{text-indent:10px;}
.userinfo .uablum {height: auto;overflow: auto;padding-bottom: 5px;}
.userinfo .uablum_img img {float: left;padding: 2px;border: 1px solid #DEDEDE;overflow:hidden;background:url(/images/cover.jpg);}
.userinfo .uablum_info{float: left;line-height: 28px;padding-left: 10px;font-size: 15px;height:100px;overflow:hidden;}
.userinfo .uablum div{height:auto;}
.userinfo .user{ width: 99%;margin: 10px auto 10px auto;height: auto;overflow: hidden;border-top: 2px solid #999;line-height: 35px;}

.toptab{margin-top:10px;display:-webkit-box;border:1px solid #ccc;border-width:1px 0 1px 0;background:#fee8bd}
.toptab span{-webkit-box-flex:1; text-align:center; line-height:30px;display:block;color:#4c4c4c;height:30px;border-right:1px solid #dfdfdf;width:0; overflow:hidden}
.toptab span:last-child{border-right:0}
.toptab span.active{color:#000;border-bottom:3px solid #ccc; overflow:hidden}

/*content*/
.content{width:98%;margin-top:10px;color:#000}
.content ul{display:-moz-box;display:-webkit-box;display:box;margin-bottom:10px}
.content li{text-align:center;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
.content .prev{text-align:left;margin-left:7px}
.prev a{display:block;text-align:center;padding:10px 5px;background-color:#fff;color:#000;border:1px solid #efefef}

/* ·?ò3 */
.bookcasepage{ width:100%; padding:10px 5px 10px 5px; color:#999; display:-webkit-box; box-sizing:border-box;}
.bookcasepage a{ display:block; margin:0 5px; line-height:30px; border:solid 1px #DDD; text-align:center; -webkit-box-flex:1; background-image: -webkit-linear-gradient( 90deg, rgb(243,243,243) 0%, rgb(255,255,255) 100%);}
.bookcasepage .disabled{color:#a8a8a8}

.listpage{margin:10px;height:36px;line-height:36px;overflow:hidden}
.listpage span{height:36px;line-height:36px;text-align:center}
.listpage .left{float:left;width:25%}
.listpage .left a,.listpage .right a{display:inline-block;height:36px;width:90%}
.listpage .left a{float:left}
.listpage .right a{float:right}
.listpage .right{float:right;width:25%}
.listpage .middle{width:49%;border:1px solid #dfdfdf;height:34px;display:block;float:left;border-radius:5px}
.listpage .middle em{display:inline-block;width:80%;text-align:center;color:#999;font-style:normal;float:left;line-height:36px;height:30px}
.listpage .middle a{display:inline-block;float:left;width:19%;height:36px;line-height:36px;vertical-align:middle}
.listpage .middle select{border:none;color:#999;display:inline-block;float:left;font-style:normal;height:34px;line-height:34px;text-align:center;width:100%}
.listpage .onclick{background:#76c332;color:#FFF}
.listpage .before{background:#cecece;color:#FFF}

.book_last dl dd{line-height:42px;margin:0 10px;xpadding:0 10px;border-bottom:1px solid #EEE;font-size:14px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.book_last dl dd:hover{background:#F1F1F1}
.book_last dl dd a{display:block}
/*áùê±êé?ü*/
.bookbox{position:relative;zoom:1;overflow:auto;padding:14px 8px;border-bottom:1px solid #dfdfdf}
.bookbox::after{visibility: hidden;display:block;font-size:0;content: ' ';clear: both;height:0;}
.bookbox:hover{background:#f9f9f9}
.bookbox .bookimg{float:left;margin-right:10px;width:74px;height:98px}
.bookimg img{width:78px;height:98px}
.bookinfo{ overflow:hidden;z-index:2}
.bookbox .bookname{font-size:16px; color:#4c4c4c;height:29px; overflow:hidden; display:-webkit-box;position: relative;}
.bookbox .bookname div{-webkit-box-flex:1;height: 22px;line-height: 22px;overflow: hidden;}
.bookbox .bookname .iTit{overflow:hidden;display: block;height:22px;line-height:22px}
.bookbox .author,.bookbox .cat{ float:left;color:#8f8f8f;height:20px;font-size:13px}
.bookbox .update,.bookbox .updatelast,.bookbox .intro_line{color:#4c4c4c; font-size:13px;line-height:27px;height:27px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.bookbox .updatelast a{color:red;}
.bookbox .update span,.bookbox .updatelast span,.bookbox .intro_line span,.bookbox .info span{color:#a8a8a8}
.bookbox .info{color:#4c4c4c; font-size:13px;line-height:23px;height:auto;}
.bookbox .delbutton{z-index:999;position: absolute;right: 8px;top: 18px;}
.bookbox .delbutton a{display:inline-block;width:55px;height:30px;font-size:13px;line-height:30px;border-radius:4px; text-align:center;background:#f2f2f2;color:#4c4c4c;}
.bookbox .delbutton .del_but{border:1px solid #ff4643;background: none;color: #ff4643;box-sizing:border-box;}
.book_more{margin:10px 10px 0 10px;line-height:42px;background:#76c332;border-radius:6px;}.book_more a{text-align:center;display:block;color:#fff;}
/*footer*/
.footer{height:30px;background:#76c332;padding:3px 0 0;border-top:1px solid #f1f1f1;line-height:26px;text-align:center;padding-top:20px;padding-bottom:120px}
.footer li{float:left;text-align:center;width:33%;font-size:16px}
.footer li a{color:#000}

.str-over-dot{white-space: nowrap;text-overflow:ellipsis;overflow:hidden;width: 100%;}
.str-over-dot-no100{white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}